<!DOCTYPE html>
<html lang="ru" xmlns:th="https://thymeleaf,org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/products/{id}(id=${product.getId()})}" th:object="${product}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name">

    <br>

    <label for="about">Enter about:</label>
    <input type="text" th:field="*{about}" id="about">

    <br>

    <label for="categories">Enter categories:</label>
    <input type="text" th:field="*{categories}" id="categories">

    <br>

    <label for="price">Enter price:</label>
    <input type="text" th:field="*{price}" id="price">

    <br>

    <label for="ammount">Enter ammount:</label>
    <input type="text" th:field="*{ammount}" id="ammount">

    <br>

    <label for="Date">Enter date:</label>
    <input type="datetime-local" th:field="*{date}" id="date">

    <br>

    <input type="submit" value="Update!">
</form>
</body>
</html>