<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf,org">
<head>
    <meta charset="UTF-8" >
    <title>New product</title>
</head>
<body>
    <form th:method="POST" th:action="@{/products}" th:object="${product}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">

        <br>

        <label for="about">Enter about:</label>
        <input type="text" th:field="*{about}" id="about">

        <br>

        <label for="categories">Enter categories:</label>
        <input type="text" th:field="*{categories}" id="categories">

        <br>

        <label for="price">Enter price:</label>
        <input type="number" th:field="*{price}" id="price">

        <br>

        <label for="ammount">Enter ammount:</label>
        <input type="number" th:field="*{ammount}" id="ammount">

        <br>

        <label for="date">Enter date:</label>
        <input type="datetime-local" th:field="*{date}" id="date">

        <br>

        <input type="submit" value="Create!">
    </form>
</body>
</html>