<!DOCTYPE html>
<html lang="ru" xmlns:th="https://thymeleaf,org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<p>Name: </p>
<p th:text="${product.getName()}">
    value
</p>
<hr>
<p>ID: </p>
<p th:text="${product.getId}">
    value
</p>
<hr>
<p>About: </p>
<p th:text="${product.getAbout}">
    value
</p>
<hr>
<p>Categories: </p>
<p th:text="${product.getCategories}">
    value
</p>
<hr>
<p>Price: </p>
<p th:text="${product.getPrice}">
    value
</p>
<hr>
<p>Ammount: </p>
<p th:text="${product.getAmmount}">
    value
</p>
<hr>
<p>Date: </p>
<p th:text="${product.getDate}">
    value
</p>
<hr>
<a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>